@dark-color: #1f1f1f;

& when (@media-common = true) {

  .popup-newsletter {
    input[type="email"] {
      height: 35px;
    }
    h4 {
      font-size: 2rem;
    }
    .action.primary {
      margin-top: 10px;
      width: 100%;
    }
  }

  .newsletter-modal {
    .modal-inner-wrap {
      max-width: 500px;
    }
    .modal-header {
      background: @dark-color;
      color: #fff;
      padding-bottom: 0;

      .modal-title {
        border: none;
      }
    }
    .modal-content {
      padding-top: 1rem !important;
    }
    .action-close {
      display: none;
    }
  }
}
